.dashboard {
    &__navbar {
        width: 100%;
        height: 56px;
        background-color: #1e293b;
        padding: 0rem 1.5rem;

        ul {
            li {
                margin-right: 10px;

                a {
                    padding: 0.5rem 1rem;
                    border-radius: 0.375rem;

                    &:hover {
                        background-color: #0f172a;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    img.icon {
                        filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(151deg) brightness(101%) contrast(102%);
                    }

                    span {
                        margin-left: 15px;
                        color: #cbd5e1;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }

                a.active {
                    background-color: #0f172a;
                }
            }
        }
    }

    &__full {
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 56px);
        display: flex;

        .container {
            height: 100%;

            >div {
                height: 100%;

            }
        }
    }

    &__left {
        height: 100%;
        overflow-y: auto;
        width: 20rem;
        background-color: #fbfdff;
        border-width: 0px;
        border-right-width: 1px;
        border-style: solid;
        border-color: #e5e7eb;
        padding: 1rem 1.5rem;
    }

    &__search {
        height: 40px;
        margin-bottom: 2rem;

        .input-group {
            height: 100%;
            margin-right: 10px;

            .input-group-text {
                border-right-color: transparent !important;
                background-color: #ffffff !important;
                height: 100%;

                img {
                    width: 17px;
                    height: 17px;
                    filter: invert(75%) sepia(6%) saturate(463%) hue-rotate(178deg) brightness(89%) contrast(91%) !important;
                    -webkit-filter: invert(75%) sepia(6%) saturate(463%) hue-rotate(178deg) brightness(89%) contrast(91%) !important;
                }
            }

            .form-control {
                border-left-color: transparent !important;
                height: 100%;

                &::placeholder {
                    font-size: 13px;
                }
            }
        }

        .btn {
            width: 40px;
            height: 40px;
            background-color: #2563eb;

            img {
                width: 30px;
                height: 30px;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(266deg) brightness(105%) contrast(101%) !important;
                -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(266deg) brightness(105%) contrast(101%) !important;
            }
        }
    }

    &__buttonlist {
        width: 100%;

        .btn {
            border-color: #e5e7eb;
            font-size: 13px;
            font-weight: 600;
            &:active{
                border-color: none !important;
            }
        }
        .btn.active {
            background-color: #e5e7eb;
        }
    }
}